body{
 color: #585858;
 background-color: #fff;
 font-size: 16px;
 line-height: 30px;
 @extend %dmsans-500;
} 


a{
  cursor: pointer;
}

.container-outer{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}
  