@import "fonts";
@import "reset";
@import "vars";
@import "global";

.header {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 36px;
  line-height: 58px;
  font-weight: 700;
  color: #436372;

  &__img {
    width: 51px;
    height: 39px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 63%;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    padding-right: 30px;
  }

  &__link {
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;
    transition: all 0.3s;

    &:hover {
      font-weight: 700;
      color: $accent;
    }
  }
}

.navigation {
  display: flex;
  position: relative;
  z-index: 5;

  &::after {
    content: "";
    width: 50px;
    z-index: -1;
    position: absolute;
    width: 63px;
    height: 50px;
    background-color: $accent;
    left: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 33px;
    right: 130px;
    top: 8px;
    z-index: 1;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__item {
    text-align: center;
    background-color: #ccc;
    width: 50px;
    height: 50px;
  }

  &__item--search,
  &__item--menu,
  &__item--basket,
  &__item--like {
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 0.3s;
  }

  &__item--basket,
  &__item--like {
    background-color: $accent;
    position: relative;
  }

  &__item--basket:hover,
  &__item--like:hover {
    background-color: #a3bbc8;
    border: 1px solid #000;

  }

  &__item--search {
    background-color: #edf1f4;
  }

  &__item--search:hover {
    background-color: $accent;
    border: 1px solid #000;
  }

  &__item--menu {
    background-color: #a3bbc8;
  }

  &__item--menu:hover {
    background-color: $accent;
    border: 1px solid #000;
  }

  &__link {
    padding: 17px 0;
  }

  &__img {
    margin: 0 auto;
    padding: 17px;
  }

  &__number {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 8px;
    right: 6px;
    font-size: 10px;
    text-align: center;
    line-height: 19px;
  }

}
























@import "media";