@import "fonts";
@import "reset";
@import "vars";
@import "global";

.header {
  padding: 48px 0;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    padding-right: 30px;
  }

  &__link {
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;
    transition: all 0.3s;

    &:hover {
      font-weight: 700;
      color: $accent;
    }
  }
}

.navigation {
  display: flex;
  position: relative;
  z-index: 5;

  &::after {
    content: "";
    width: 50px;
    z-index: -1;
    position: absolute;
    width: 63px;
    height: 50px;
    background-color: $accent;
    left: 100px;
    top: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 33px;
    right: 130px;
    top: 8px;
    z-index: 1;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__item {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
  }


  &__link {
    padding: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
    background-color: #ccc;
    border-radius: 50%;
    transition: all 0.3s;

    &--search {
      background-image: url(../images/linz-icon.svg);
      width: 15px;
      height: 15px;
    }

    &--menu {
      background-image: url(../images/menu-icon.svg);
      width: 15px;
      height: 15px;
    }

    &--basket {
      background-image: url(../images/basket-icon.svg);
    }

    &--like {
      background-image: url(../images/like-icon.svg);
    }

    &--basket,
    &--like {
      background-color: $accent;
      position: relative;

      &:hover {
        background-color: #a3bbc8;
        border: 1px solid #000;

      }
    }

    &--search {
      background-color: #edf1f4;

      &:hover {
        background-color: $accent;
        border: 1px solid #000;
      }
    }

    &--menu {
      background-color: #a3bbc8;

      &:hover {
        background-color: $accent;
        border: 1px solid #000;
      }
    }
  }

  &__number {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    top: 8px;
    right: 6px;
    font-size: 10px;
    text-align: center;
    line-height: 19px;
  }

}


.content {


  &__item {
    height: 80vh;
    background-color: $accent;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  &__inner {
    max-width: 440px;
  }

  &__title {
    text-transform: uppercase;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__text {
    @extend %rubik-500;
    color: #436372;
    font-size: 20px;
    max-width: 360px;
    margin-bottom: 30px;
  }

  &__link {
    padding: 15px 30px 15px 15px;
    background-color: #a3bbc8;
    color: #fff;
    display: block;
    max-width: 220px;

    :after {
      content: "";
      background-image: url(../images/arrow-r.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

}












.footer {
  padding-top: 70px;

  &__top {
    margin-bottom: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 280px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
  }

  &__form {
    display: flex;

    &-btn {
      background-color: #a3bbc8;
      color: #fff;

      &:hover {
        background-color: #234969;
      }
    }

    &-input::placeholder {
      border: none;
      background-color: #fef7f0;
      color: #234969;
    }
  }







  &__botom {
    border-top: 1px solid #dae4e9;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: inherit;

    &-item:not(:last-child) {
      border-right: 1px solid #000;
    }

    &-link {
      padding-right: 15px;
      padding-left: 15px;

      &:hover {
        cursor: pointer;
        color: $accent;
        background-color: #234969;
      }
    }
  }
}